<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace ="org.kpu.LostArk.mappers.MemberMapper">


<insert id="join"> <!-- 가입 -->
	insert into lostark_member values (#{id}, #{passwd}, #{nickname}, #{server}, #{post_count})
</insert>

<!-- <select id="login">
	select * from aop_member where id=#{id} 
</select> -->

 <select id="JoinCheck" resultType="org.VO.MemberVO"> <!-- 회원가입시 아이디 중복확인 -->
	Select id from lostark_member where id=#{id}
</select> 

<select id="loginById" resultType="org.VO.MemberVO"> <!-- 로그인시 확인. -->
	<![CDATA[
		select * from lostark_member where id=#{id} AND passwd=#{passwd} AND server=#{server}
	]]>
</select>

<select id="selectByMember" resultType="org.VO.MemberVO">
	select * from lostark_member where id=#{id}
</select> 



<update id="addupdate">
	<![CDATA[update lostark_member set post_count=#{post_count}+1 where id=#{id}
	]]>
</update>
<update id="deupdate">
	<![CDATA[update lostark_member set post_count=#{post_count}-1 where id=#{id}
	]]>
</update>


</mapper>