<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace ="org.kpu.LostArk.mappers.NpcMapper">

<!-- 게시글 등록 -->
<insert id="insert" parameterType="npc">
	insert into loa_npc (NPC_name, nomal, interest, friendship, turst, NPC_region, writer) values (#{NPC_name}, #{nomal}, #{interest},#{friendship},#{turst},#{NPC_region},#{writer})
</insert>


<select id="selectByNpc" resultType="npc">
	select * from loa_npc where npc_num=#{npc_num}
</select> 



<select id="selectAll" resultType="npc">
<![CDATA[select * from loa_npc]]>
</select>


<!-- 게시글 수정 -->
<update id="update" parameterType="npc">
	update loa_npc set NPC_name = #{NPC_name}, nomal=#{nomal}, interest=#{interest}, friendship=#{friendship}, turst=#{turst}, NPC_region=#{NPC_region}, writer=#{writer} where npc_num=#{npc_num}
</update>

<!-- 게시글 삭제 -->
<delete id="delete">
	delete from loa_npc where npc_num=#{npc_num}
</delete>



 <select id="IsCheck" resultType="int"> <!-- 회원가입시 아이디 중복확인 -->
	Select count(NPC_name) from loa_npc where NPC_name=#{name}
</select> 


<!--
<insert id="replyinsert">
	insert into from aop_reply values(#{content});
</insert>

<update id="reply">
	update aop_reply set content=#{content}
</update>

<select id="replyselectAll" resultType="org.VO.NpcVO">
<![CDATA[select * from aop_reply]]>
</select>
-->
<select id="search" resultType="npc">
	<![CDATA[select * from loa_npc where NPC_name like #{search}]]>
</select>



<!-- 페이징 처리 -->
<select id="paging" resultType="npc">
	select * from loa_npc
	where npc_num>0 
	order by npc_num asc
	limit #{pageStart}, #{perPageNum}
</select>


<!-- 전체 게시글 갯수 -->
<select id="totalcount" resultType="int">
<![CDATA[
	select count(npc_num) from loa_npc
	where npc_num>0
]]>
</select>


</mapper>