button, textarea {
    font-family: Apple SD Gothic Neo,¸¼Àº °íµñ,Malgun Gothic,µ¸¿ò,dotum,sans-serif;
}
.FlexableTextArea .textarea_input {
    display: block;
    width: 100%;
    min-height: 40px;
    padding: 11px 12px 10px;
    border: 1px solid #ebecef;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
    word-break: break-all;
    font-size: 15px;
    letter-spacing: -.23px;
    line-height: 17px;
    outline: none;
}

.WritingHeader .title {
    margin-bottom: 16px;
    font-size: 22px;
    color: var(--skinTextColor);
}
.WritingHeader {
    position: relative;
    margin-top: 20px;
    border-bottom: 1px solid #323232;
}
.WritingContent {
    position: relative;
    padding-top: 12px;
    padding-bottom: 50px;
}
.container{
	text-align: center;
}
.BaseButton.size_default {
    min-width: 46px;
    height: 36px;
    margin-left: 10px;
    padding: 0 12px;
    font-size: 13px;
    line-height: 36px;
}
.BaseButton--skinGreen {
    background: var(--skinBaseButtonPointBg);
    color: var(--skinBaseButtonPointColor);
}
.BaseButton {
    display: inline-block;
    border-radius: 6px;
    box-sizing: border-box;
    font-weight: 700;
    text-align: center;
    vertical-align: top;
}

.tool_area {
    position: absolute;
    bottom: 12px;
    right: 0;
}